@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #edeef5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*.navbar{*/
/*    background: #131313;*/
/*    padding: 1rem 1rem;*/
/*    font-family: sans-serif;*/
/*}*/

/*.nav-item{*/
/*    font-family: 'Poppins', sans-serif;*/
/*    text-transform: uppercase;*/
/*}*/

/*.navbar .navbar-brand{*/
/*    font-size: 2rem;*/
/*    font-weight: 700;*/
/*}*/

/*.item{*/
/*    font-size: 1.2rem;*/
/*    padding: 0 0.8rem;*/
/*    font-weight: bold;*/
/*}*/

/*a.nav-link.item:hover{*/
/*    color: #40849f !important;*/
/*    cursor: pointer;*/
/*}*/
/*.btn{*/
/*    border-width: medium;*/
/*    border-radius: 0;*/
/*    color: #fff;*/

/*}*/

/*a.nav-link.item{*/
/*    padding: 0 2rem;*/
/*}*/

.wrapper {
    display: table;
    height: 90%;
    width: 100%;
}

.content{
    width: 100%;
}

.container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
    height: 100%;
}
.fostrap-logo {
    width: 100px;
    margin-bottom:15px
}
h1.heading {
    color: #fff;
    font-size: 1.15em;
    font-weight: 900;
    color: #505050;
    margin-top: 15px;
}
@media (min-width: 450px) {
    h1.heading {
        font-size: 3.55em;
    }
}
@media (min-width: 760px) {
    h1.heading {
        font-size: 3.05em;
    }
}
@media (min-width: 900px) {
    h1.heading {
        font-size: 3.25em;
        margin: 0 0 0.3em;
    }
}
.card {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    width: 270px;

}
.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
    overflow: hidden;
}
.img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover;
    transition: all .25s ease;
}
.card-content {
    padding:15px;
    text-align:left;

}
.card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 1.65em;
    color: #000;
    text-decoration: none !important;
    cursor: pointer;
}

.card-read-more {
    border-top: 1px solid #D4D4D4;
    color: #112d42;
}
.card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
}

.btn-block{
    color: #0f3959;
}

.btn-block:hover{
    color: #03a9f4;
    font-weight: 700;
    font-size: 20px;
}

h4.card-title{
    align-items: center;
    justify-content: center;
}